{{ define "main" }}

{{ partial "page-header.html" .}}

<section class="section my-0 my-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row gy-5  align-items-lg-center justify-content-center">
          {{ range $i, $e:= .Params.downloads_list}}
          <div class="col-lg-4 col-md-6 px-4 px-lg-0">
            <div class="card shadow bg-white {{if .recommended}}recommended{{end}} {{if gt $i 2}}mt-lg-5{{end}}">
              <div class="card-body text-center py-5">
                <h3 class="mb-4 h4">{{ .name | markdownify }}</h3>
                <p class="lead mt-4">{{ .description | markdownify }}</p>
                {{ if .button.enable }}
                <a href="{{ .button.link | relLangURL }}" title="{{ .button.label }}" class="btn {{if .recommended}}btn-primary{{else}}btn-outline-primary{{end}}">{{ .button.label }}</a>
                {{ end }}
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}